In [80]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [81]:
df = pd.read_csv("CLASE 6.csv")

In [82]:
df.head(8)

   Tamano hielo     sabor  score
0  grande   sin    Kahlua    8.2
1  grande   con    Kahlua    9.0
2   chica   sin    Kahlua    7.0
3   chica   con    Kahlua    7.5
4  grande   con  Horchata   10.0
5   chica   sin  Horchata    6.0
6   chica   con  Horchata    6.4
7  grande   sin  Horchata    9.5

In [83]:
for i in df["Tamano"]:
    if i == "grande":
        df.loc[df["Tamano"] == "grande", "Tamano"] = 1
    else:
        df.loc[df["Tamano"] == "chica", "Tamano"] = 0


for i in df["hielo"]:
    if i == "con":
        df.loc[df["hielo"] == "con", "hielo"] = 1
    else:
        df.loc[df["hielo"] == "sin", "hielo"] = 0

df["Kahlua"] = df["sabor"].apply(lambda x: 1 if x == "Kahlua" else 0)
df["Horchata"] = df["sabor"].apply(lambda x: 1 if x == "Horchata" else 0)

In [84]:
df.head(8)

  Tamano hielo     sabor  score  Kahlua  Horchata
0      1     0    Kahlua    8.2       1         0
1      1     1    Kahlua    9.0       1         0
2      0     0    Kahlua    7.0       1         0
3      0     1    Kahlua    7.5       1         0
4      1     1  Horchata   10.0       0         1
5      0     0  Horchata    6.0       0         1
6      0     1  Horchata    6.4       0         1
7      1     0  Horchata    9.5       0         1

In [87]:
X = df[["Tamano", "hielo", "Kahlua", "Horchata"]]
y = df["score"]
lr = LinearRegression()
lr.fit(X, y)
print(f"El valor de Beta 0 es : {lr.intercept_}")
print(f"Los valores de Beta 1, 2 y 3 son : {lr.coef_}")

El valor de Beta 0 es : 6.449999999999999
Los valores de Beta 1, 2 y 3 son : [ 2.45   0.55  -0.025  0.025]

In [89]:
for i in df["Tamano"]:
    if i == "grande":
        df.loc[df["Tamano"] == "grande", "Tamano"] = -1
    else:
        df.loc[df["Tamano"] == "chica", "Tamano"] = 1


for i in df["hielo"]:
    if i == "con":
        df.loc[df["hielo"] == "con", "hielo"] = 1
    else:
        df.loc[df["hielo"] == "sin", "hielo"] = -1

df["Kahlua"] = df["sabor"].apply(lambda x: 1 if x == "Kahlua" else 0)
df["Horchata"] = df["sabor"].apply(lambda x: 1 if x == "Horchata" else 0)

In [91]:
X = df[["Tamano", "hielo", "Kahlua", "Horchata"]]
y = df["score"]
lr = LinearRegression()
lr.fit(X, y)
print(f"El valor de Beta 0 es : {lr.intercept_}")
print(f"Los valores de Beta 1, 2 y 3 son : {lr.coef_}")

El valor de Beta 0 es : 6.449999999999999
Los valores de Beta 1, 2 y 3 son : [ 2.45   0.55  -0.025  0.025]